In [13]:
import pandas as pd

In [14]:
covid_data = pd.read_csv('data/covid_data.csv')
display(covid_data)

,date,province/state,country,confirmed,deaths,recovered
0,01/22/2020,Anhui,China,1.0,0.0,0.0
1,01/22/2020,Beijing,China,14.0,0.0,0.0
2,01/22/2020,Chongqing,China,6.0,0.0,0.0
3,01/22/2020,Fujian,China,1.0,0.0,0.0
4,01/22/2020,Gansu,China,0.0,0.0,0.0
...,...,...,...,...,...,...
306424,05/29/2021,Zaporizhia Oblast,Ukraine,102641.0,2335.0,95289.0
306425,05/29/2021,Zeeland,Netherlands,29147.0,245.0,0.0
306426,05/29/2021,Zhejiang,China,1364.0,1.0,1324.0
306427,05/29/2021,Zhytomyr Oblast,Ukraine,87550.0,1738.0,83790.0
306428,05/29/2021,Zuid-Holland,Netherlands,391559.0,4252.0,0.0

In [15]:
vaccinations_data = pd.read_csv('data/country_vaccinations.csv')

display(vaccinations_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42795 entries, 0 to 42794
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              42795 non-null  object
 1   iso_code                             42795 non-null  object
 2   date                                 42795 non-null  object
 3   total_vaccinations                   23457 non-null  float64
 4   people_vaccinated                    22371 non-null  float64
 5   people_fully_vaccinated              19462 non-null  float64
 6   daily_vaccinations_raw               19251 non-null  float64
 7   daily_vaccinations                   42558 non-null  float64
 8   total_vaccinations_per_hundred       23457 non-null  float64
 9   people_vaccinated_per_hundred        22371 non-null  float64
 10  people_fully_vaccinated_per_hundred  19462 non-null  float64
 11  daily_vaccinations_per_million       42558 non-null  float64
 12  vaccines                             42795 non-null  object
 13  source_name                          42795 non-null  object
 14  source_website                       42795 non-null  object
dtypes: float64(9), object(6)
memory usage: 4.9+ MB

None

In [16]:
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]
display(vaccinations_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42795 entries, 0 to 42794
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              42795 non-null  object
 1   date                                 42795 non-null  object
 2   total_vaccinations                   23457 non-null  float64
 3   people_vaccinated                    22371 non-null  float64
 4   people_vaccinated_per_hundred        22371 non-null  float64
 5   people_fully_vaccinated              19462 non-null  float64
 6   people_fully_vaccinated_per_hundred  19462 non-null  float64
 7   daily_vaccinations                   42558 non-null  float64
 8   vaccines                             42795 non-null  object
dtypes: float64(6), object(3)
memory usage: 2.9+ MB

None

In [17]:
covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()
display(covid_data)

             date             country  confirmed  deaths  recovered
0      01/01/2021         Afghanistan    51526.0  2191.0    41727.0
1      01/01/2021             Albania    58316.0  1181.0    33634.0
2      01/01/2021             Algeria    99897.0  2762.0    67395.0
3      01/01/2021             Andorra     8117.0    84.0     7463.0
4      01/01/2021              Angola    17568.0   405.0    11146.0
...           ...                 ...        ...     ...        ...
86780  12/31/2020             Vietnam     1465.0    35.0     1325.0
86781  12/31/2020  West Bank and Gaza   138004.0  1400.0   117183.0
86782  12/31/2020               Yemen     2099.0   610.0     1394.0
86783  12/31/2020              Zambia    20725.0   388.0    18660.0
86784  12/31/2020            Zimbabwe    13867.0   363.0    11250.0

[86785 rows x 5 columns]

In [18]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [20]:
covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']

In [21]:
covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()

In [22]:
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

In [23]:
display(covid_data)

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
15933,2020-03-12,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16595,2020-03-14,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16938,2020-03-15,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17290,2020-03-16,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17645,2020-03-17,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0